@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ffc107;
  --beige: #ecf0f3;
  --borderWidth: 5px;
  --secondary: #6d758c;
  --primary-rgb: 255, 193, 7;
}

@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Roboto&display=swap');
*{
  font-family: 'Roboto';
}
  /* *{
    box-shadow: 0 0 0 3px red inset;
  } */

html {
  scroll-behavior: smooth;
}
/* Loader */
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../images/loader.gif') 50% 50% no-repeat var(--beige);
}
.menu-link::after {
  display: block;
  content: "";
  border-bottom: solid 3px var(--primary);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.menu-link:hover:after {
  transform: scaleX(1);
  transform-origin: 0% 50%;
}

/* Hamburger Menu */
.hamburger-menu {
  /* margin: 2rem; */
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
}
.bar-top,
.bar-middle,
.bar-bottom {
  height: 5px;
  background: var(--secondary);
  border-radius: 5px;
  margin: 3px 0;
  transform-origin: left;
  transition: all 0.5s;
}

.bar-top-click {
  transform: rotate(45deg);
}
.bar-middle-click {
  transform:translateX(1rem);
  opacity: 0;
}
.bar-bottom-click {
  transform: rotate(-45deg);
}

#resume:hover ~ #resume_link{
    color: var(--primary) !important;
}

canvas {
  z-index: 0;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  vertical-align: top;
  width: 0;
  height: calc(100vh - 200px);
}


/* ---- particles.js container ---- */

#particles-js {
  width: 80%;
  background-color: var(--beige);
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

#box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 400px;
  color: white;
  font-family: "Raleway";
  font-size: 2.5rem;
}

#profile {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  background-image: url("../images/profil2-1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.gradient-border {
  z-index: 2;
  position: relative;
  border-radius: 50%;
}
.gradient-border:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(
    60deg,
    #ffffff,
    #ffecb3,
    #ffd75d,
    #ffc107,
    #ff9804,
    #ff6f00,
    var(--primary),
    #f79533,
    #595d76,
    #5073b8,
    var(--beige),
    #c3cdf0,
    #595d76
  );
  border-radius: 50%;
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--primary);
  }
}

.blink {
  animation: blink 0.5s infinite;
}
@keyframes blink {
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade {
  animation-name: fade-in;
  animation-duration: 0.3s;
  animation-timing-function: ease;
}

.myboxstyle {
  box-shadow: var(--secondary) 0px 10px 12px -2px,
    var(--secondary) 0px 3px 7px -3px;
  background: linear-gradient(
    var(--beige),
    var(--beige) 50%,
    var(--primary) 50%,
    var(--primary) 50%
  );
  transition: background-color 0.6s ease;
  transition: background 0.1s ease-in-out;
  background-size: 100% 200%;
}

.myboxstyle:hover {
  background-position: 100% 100%;
}

.myboxstyle:hover > a > h5 {
  color: white;
}

.myboxstyle:hover > a {
  color: white;
}
.myboxstyle:hover > p {
  color: black;
}

.resume_item > ul {
  padding-left: 40px;
  overflow: hidden;
}

.resume_item > ul > li {
  margin-bottom: 2em;
}

.resume_item > ul {
  position: relative;
}

.resume_item > ul > li:hover {
  cursor: pointer;
}

.resume_item > ul > li > .date {
  position: relative;
  top: -30px;
}

.resume_item > ul > li:before {
  position: relative;
  left: -40px;
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 7.5px;
  background-color: var(--secondary);
}

.resume_work > ul > li:first-child::after {
  position: absolute;
  bottom: 0;
  left: 6px;
  content: "";
  display: block;
  width: 4px;
  height: 98%;
  background-color: var(--secondary);
}

.experience > ul > li:first-child::after {
  background-color: var(--primary);
}

.experience > ul > li::before {
  background-color: var(--primary);
}

.form{
    margin: auto;
}

@media (max-width: 641px) {
  #box,
  #profile {
    width: 250px;
    height: 250px;
  }
}

@media (min-width: 1400px) {
  nav {
    margin-bottom: 6em;
  }
.form{
    margin: 0;
}

  #features,
  #resume,
  #portfolio, #contact {
    margin-left: 250px;
  }
}

@media (min-width: 700px) {
  .form{
      margin: 0;
  }
}
